.projectItem {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.171);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.288);
    margin-top: 5px;
    justify-self: center;
    justify-content: center;
    transition: all 0.15s;
}

.projectItem:hover {
    transform: scale(1.02);
    transition: all 0.12s;
}

.projectItemExpanded {
    width: 500px;
    height: 430px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.288);
    justify-self: center;
    margin-top: 5px;
    transform: translateY(-40vh);
    transition: all 0.3s;
}

.buttonContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: space-evenly;
}

.projectButton {
    width: 150px;
    min-width: 150px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(228, 232, 236);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.exitButton {
    background-color: transparent;
    outline: transparent;
    border: transparent;
    position: absolute;
    transform: translate(20px, -220px);
    width: 20px;
    height: 20px;
    font-size: 30px;
}

.description {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
    margin-top: 20px;
}

h3 {
    text-decoration: underline;
}

span {
    width: 350px;
    margin-top: 20px;
    display: block;
    white-space: pre-line;
    text-align: start;
    padding-left: 10px;
    font-family: Verdana, sans-serif;
    font-size: small;
}